<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Product Table</title>
    <link rel="stylesheet" href="{% static 'external/css/style.css' %}">
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar">
        <div class="logo-section">
            <img src="{% static 'external/images/logo.jpg' %}" alt="Logo">
            <h2>Product Management</h2>
        </div>

        <ul>
            <li><a href="/">Product Form</a></li>
            <li><a href="/productTable">Product Table</a></li>
        </ul>
    </nav>

    <div class="container">

        <h1>Product Details</h1>

        <table>
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
            </thead>

            <tbody id="productTableBody">

                <tr>
                    <td>P101</td>
                    <td>Laptop</td>
                    <td>Electronics</td>
                    <td>50000</td>
                    <td>10</td>
                </tr>

                <tr>
                    <td>P102</td>
                    <td>Chair</td>
                    <td>Furniture</td>
                    <td>2500</td>
                    <td>20</td>
                </tr>

            </tbody>

        </table>

    </div>

    <script src="{% static 'external/js/script.js' %}"></script>
</body>

</html>